<% if @newbook.errors.any? %>
	<div id="error_explanation">
		<h2 class="error_count"><%= @newbook.errors.count %>error prohibited this book from being saved:</h2>
	<ul>
		<% @newbook.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
	</div>
<% end %>

		<!-- サイドバー -->
		<div class="col-xs-3">
		<!-- プロフィール -->
			<%= render 'users/userprofile', user: @user %>
		<!-- /プロフィール -->

		<!-- 投稿フォーム -->
			<%= render 'books/editbook', book: @newbook %>
		<!-- /投稿フォーム -->
		</div>
		<!-- /サイドバー -->

		<div class="col-xs-9">
		<!-- Books -->
			<%= render 'books/books_list', books: @books, user:@user %>
		<!-- /Books -->
		</div>

